@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http
@inject NavigationManager NavigationManager


<div class="column center space-evenly">
    <h1>Katie Soccer</h1>
    <div class="row center">
        <h3>Name</h3>
        <input type="text"
               placeholder="Player8002"
               value="@Name"
               @onchange="@OnNameChanged" />
    </div>
    <div class="row center">
        <h3>Color</h3>
        <input type="color"
               value="@Color"
               @onchange="@OnColorChanged" />
    </div>
    <div class="row space-evenly">
        <div class="column center space-evenly w-100">
            <h2>Play Local</h2>
            <div class="row center space-evenly">
                <a href="/play">vs. Bot</a>
                <a href="/play">vs. Human</a>
            </div>
        </div>
        <div class="column center space-evenly w-100">
            <h2>Play Online</h2>
            <div class="row center space-evenly">
                <button @onclick="CreateGame">Create Match</button>
                <a href="/play/1234">Join Match</a>
            </div>
        </div>
    </div>
</div>

@code {
    private string Name { get; set; }
    private string Color { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Name = await localStorage.GetItemAsync<string>(LocalStorageKeyConstants.NameKey);
        Color = await localStorage.GetItemAsync<string>(LocalStorageKeyConstants.ColorKey);
    }

    private async void OnNameChanged(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        Name = value;
        await localStorage.SetItemAsync(LocalStorageKeyConstants.NameKey, value);
    }

    private async void OnColorChanged(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        Color = value;
        await localStorage.SetItemAsync(LocalStorageKeyConstants.ColorKey, value);
    }

    private async Task CreateGame()
    {
        var random = new Random();
        var gameId = random.Next(0, 10000000).ToString("D7");
        var game = new GameData
        {
            GameId = gameId,
            IsOnline = true
        };

        await Http.PostAsJsonAsync(NavigationManager.ToAbsoluteUri("/game"), game);

        NavigationManager.NavigateTo($"play/{gameId}");
    }
}
