@page
@model IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Katie Soccer</title>
    <link rel="shortcut icon" href="~/TemplateData/favicon.ico">
    <link rel="stylesheet" href="~/TemplateData/style.css">
</head>
<body>
    <h1>Katie Soccer</h1>
    <a href="/play">Local</a>
    <a href="/play/1234">Online</a>
</body>
</html>
