@if (GameScript == null)
{
    <em>Loading...</em>
}
else
{
    <div class="game-container">

        @foreach (var piece in GameScript.TeamOnePieces)
        {
            <Piece Model="piece" />
        }

        @foreach (var piece in GameScript.TeamTwoPieces)
        {
            <Piece Model="piece" />
        }

        <Ball />

    </div>
}

@code
{
    GameScript GameScript;

    protected override void OnInitialized()
    {
        GameScript = new GameScript();
        base.OnInitialized();
    }
}