@if (GameScript == null)
{
    <em>Loading...</em>
}
else
{
    <div class="game-container">
        <h1>menu</h1>
        <div class="field-container">
            <div class="field">

                @foreach (var piece in GameScript.TeamOnePieces)
                {
                    <Piece Model="piece" />
                }

                @foreach (var piece in GameScript.TeamTwoPieces)
                {
                    <Piece Model="piece" />
                }

                <Ball />

            </div>
        </div>
    </div>
}

@code
{
    GameScript GameScript;

    protected override void OnInitialized()
    {
        GameScript = new GameScript();
        GameScript.Update();
        GameScript.OnUpdate += (o, e) => StateHasChanged();
        base.OnInitialized();
    }
}